
{% extends "../_BASE.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Get a free NHS test to check if you have coronavirus</h1>

      <div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube" data-module="govspeak">

      <p>You can have a swab test to check if you have coronavirus (COVID-19) now.</p>

      <h2 class="govuk-heading-m" class="govuk-heading-m" id="who-can-get-a-free-test">Who can get a free test</h2>

      <p>You can only get a free NHS test if at least one of the following applies:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>you have a high temperature</li>
        <li>you have a new, continuous cough</li>
        <li>you’ve lost your sense of smell or taste or it’s changed</li>
        <li>you’ve been asked to get a test by a local council</li>
        <li>you’re taking part in a government pilot project</li>
        <li>you’ve been asked to get a test to confirm a positive result</li>
      </ul>

      <p>You can also get a test for someone you live with if they have symptoms.</p>

<!-- NEW CONTENT HERE - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
      <div class="govuk-inset-text new">
        If you have symptoms you should self-isolate by not leaving home for 10 days. You can leave your home to get a test.
      </div>
<!-- END NEW CONTENT  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

      <h3 class="govuk-heading-s" class="govuk-heading-s" id="if-youre-going-into-hospital">If you’re going into hospital</h3>

      <p>You may need to get tested if you’re due to have surgery or a procedure.</p>

      <p>The hospital will arrange this for you. Contact your hospital department if you have any questions. &#8203;</p>

      <h2 class="govuk-heading-m" id="who-cannot-get-a-free-test">Who cannot get a free test</h2>

      <p>You cannot use this service to get a test if:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>you’ve come to the UK from a high-risk country</li>
        <li>you’re planning to leave the country</li>
        <li>your employer or school has asked you to get a test but you have no symptoms</li>
      </ul>

      <p>You can pay for a private test.</p>

      <h2 class="govuk-heading-m" id="when-to-get-a-test">When to get a test</h2>

      <p>If you have symptoms, get a test as soon as possible.</p>

      <p>Book a visit to a test site to have the test today. Test sites are open 7 days a week. Order a home test kit if you cannot get to a test site.</p>

      <h3 class="govuk-heading-s" id="england-and-northern-ireland">England and Northern Ireland</h3>

      <p>You need to get the test done in the first 8 days of having symptoms.</p>

      <p>On days 1 to 7, you can get tested at a site or at home. If you’re ordering a home test kit on day 7, do it by 3pm.</p>

      <p>On day 8, you need to go to a test site - it’s too late to order a home test kit</p>

      <h3 class="govuk-heading-s" id="scotland">Scotland</h3>

      <p>You need to get the test done in the first 5 days of having symptoms. This allows you the best chance of preventing the spread of coronavirus to others.  After 5 days you should still book a test if you have been advised to do so by a healthcare professional.</p>

      <p>On days 1 to 4, you can get tested at a site or at home. If you’re ordering a home test kit on day 4, do it by 3pm.</p>

      <p>On day 5, you need to go to a test site - it’s too late to order a home test kit.</p>

      <h3 class="govuk-heading-s" id="wales">Wales</h3>

      <p>You need to get the test done in the first 5 days of having symptoms.</p>

      <p>On days 1 to 4, you can get tested at a site or at home. If you’re ordering a home test kit on day 4, do it by 3pm.</p>

      <p>On day 5, you need to go to a test site - it’s too late to order a home test kit.</p>

      <h2 class="govuk-heading-m" id="get-a-free-test-online">Get a free test online</h2>

      <p><a class="gem-c-button govuk-button govuk-button--start" role="button" href="essential-worker"> Start now <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false"><path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path></svg></a></p>

      <h2 class="govuk-heading-m" id="get-help-applying">Get help applying</h2>

      <div role="note" aria-label="Information" class="application-notice info-notice">
      <p>If no tests are available online, do not call helplines to get a test. No extra tests are available through the helplines.</p>
      </div>

      <p>If you have other problems using the online service, call:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>119 if you’re in England, Wales or Northern Ireland</li>
        <li>0300 303 2713 if you’re in Scotland</li>
      </ul>

      <p>Lines are open 7am to 11pm.</p>

      <h2 class="govuk-heading-m" id="stay-at-home-if-you-have-symptoms">Stay at home if you have symptoms</h2>

      <p>If you’re getting a test because you have symptoms, you and anyone you live with must <a rel="external" href="https://www.nhs.uk/conditions/coronavirus-covid-19/self-isolation-and-treatment/when-to-self-isolate-and-what-to-do">self-isolate</a> until you get your result. This also applies to anyone in your support bubble (where someone who lives alone - or just with their children - can meet people from 1 other household).</p>

      <p>You must also self-isolate if you cannot get a test.</p>

      <h2 class="govuk-heading-m" id="what-the-test-involves">What the test involves</h2>

      <p>The test involves taking a swab of the inside of your nose and the back of your throat, using a long cotton bud.</p>

      <p>You can do the swab yourself (if you are aged 12 or over) or someone can do it for you. Parents or guardians have to swab test children aged 11 or under.</p>

      <h2 class="govuk-heading-m" id="getting-a-test-for-someone-else">Getting a test for someone else</h2>

      <p>If other people you live with have symptoms, you can order tests for up to 3 of them.</p>

      <p>If you’re applying for someone who’s 13 or over, check that they’re happy for you to get a test for them.</p>

      <h2 class="govuk-heading-m" id="if-you-need-medical-advice-about-your-symptoms">If you need medical advice about your symptoms</h2>

      <p>Get help at:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a rel="external" href="https://www.nhs.uk/conditions/coronavirus-covid-19/">England: NHS 111 online coronavirus service</a></li>
        <li><a rel="external" href="https://www.nhsinform.scot/illnesses-and-conditions/infections-and-poisoning/coronavirus-covid-19">Scotland: NHS inform</a></li>
        <li><a rel="external" href="https://111.wales.nhs.uk/coronavirus(2019ncov)">Wales: NHS 111 Wales</a></li>
        <li>Northern Ireland: get advice from a GP or GP out-of-hours service</li>
      </ul>

      <p>Call 999 if you feel very unwell or think there’s something seriously wrong.</p>


      </div>

    </div>
  </div>

{% endblock %}
