
{% extends "../layout_unbranded.html" %}

{% block tomBread %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <p>Then you'd progress through the rest of the transactional pages before arriving at the confirmation page.</p>
        <p><a href="confirm">Confirmation page</a></p>

    </div><!-- /govuk-grid-column-two-thirds -->
  </div>

{% endblock %}
